.our_cuisine{
    margin-top: 2rem;
    margin-left: .8rem;
}
.our_cuisine_top{
    display: flex;
    margin-bottom: 2rem;
}
.navigational_arrows{
    margin-left: auto;
}
.main_cuisines{
    display: flex;
    width: 80%;
    height: 20rem;
    margin: 0.5rem 0rem;
    overflow: hidden;
}
#cuisines_container{
    width: 100%;
    height: 100%;
}
.cuisine{
    height: 15rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 .5rem;
    transition: 0.5s ease;
}
.cuisine img{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}
.cuisine p{
    margin-top: 1rem;
}
#cuisine_slider_wrapper{
    display: flex;
    flex-direction: row;
}

@media (max-width:950px) {
    .our_cuisine{
        margin-top: 3rem;
    }
}
@media (max-width:450px) {
    .our_cuisine{
        margin: auto;
        width: 70%;
    }
}