#header{
    display: flex;
    margin: 5rem 3rem 3rem 5rem;
}
.header_text{
    display: flex;
    flex-direction: column;
    width: 30rem;
    padding-left: 3rem;
    margin-right: 2rem;
}
.header_text h1{
    width: 18rem;
    margin: 1rem 0;
}
#header_text-para{
    margin: 1rem 0 2rem 0;
    color: rgb(185, 182, 182);
}
.header_text-inputs{
    display: flex;
}
.header_text-inputs_location{
    height: 21px;
    width: 7rem;
    display: flex;
    border-radius: 2rem;
    border: 1px solid white;
    box-shadow: 3px 3px 3px rgb(217, 214, 214);
    margin-right: 1.2rem;
    padding: .3rem .35rem;
}
.header_text-inputs_location img{
    width: 1.3rem;
    height: 1.3rem;
}
.header_text-inputs_location input{
    margin-left: 0.3rem;
    width: 80%;
}
.header_text-inputs_search{
    width: 20rem;
    display: flex;
    border-radius: 2rem;
    border: 1px solid white;
    box-shadow: 3px 3px 3px 3px rgb(217, 214, 214);
    padding-left: 0.5rem;
}
.header_text-inputs_search-icon_text{
    margin: 0 0;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff8301;
    color: #fff;
    padding: 0 0.25rem;
    border-radius: 2rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.header_text-inputs_search input{
    width: 18rem;
}
.header_text-inputs_search img{
    width: 1.8rem;
    height: 1.8rem;
}

.header_images img{
    border-radius: 1.5rem;
}
#back_img{
    margin: 5rem 5rem;
}
#back_img img{
    width: 18rem;
    height: 23rem;
}
#header_overlay-top{
    display: flex;
}
#header_overlay-top_img1{
    width: 13rem;
    height: 9rem;
    border-radius: 2rem;
    border: 0.5rem solid white;
}
#header_overlay-top_right{
    margin-left: 6.45rem;
}
#header_overlay-top_right-img1{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-top: 2rem;
    background: #fff;
}
.header_overlay_side-badge{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 0.2rem 0.2rem;
    margin-top: 3rem;
    height: 2rem;
}
.header_overlay_side-badge p{
    font-weight: 600;
    font-size: large;
}
.header_overlay_side-badge img{
    height: 2rem;
    margin-right: 0.2rem;
}
#header_overlay-bottom{
    display: flex;
    margin-top: 7rem;
    order: 1;
}
#header_overlay-bottom-image{
    height: 10rem;
    margin-left: 12rem;
    border-radius: 2rem;
    border: 0.5rem solid white;
}
.header_overlay{
    position: absolute;
    z-index: 2;
}
.for_mobile{
    display: none;
}
@media (max-width:1150px) {
    #header{
        margin: 1rem 0 1rem 0;
    }
}
@media (max-width:850px) {
    #header{
        margin-top: .5rem;
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    .header_text{
        width: 100%;
        padding: 0 0 0 0.5rem;
        margin-bottom: 1rem;
    }
    .header_text-inputs{
        flex-direction: column;
    }
    .header_text-inputs_search{
        margin: 0.5rem 0;
    }
    .header_text-inputs_location{
        margin: 0.5rem 0;
    }
    .header_images{
        width: 90%;
        margin: 1rem 0;
    }
    .for_large_vw{
        display: none;
    }
    .for_mobile{
        display: flex;
        width: 12rem;
        margin: 2rem 3rem;
        box-shadow: 3px 3px 3px rgb(217, 214, 214);
    }
    .header_overlay{
        margin-left: 2rem;
    }
    #header_overlay-bottom-image {
    margin-left: 13rem;
    }
}