#restaurants{
    margin: 3rem 1rem ;
}
.restaurant_display{
    display: flex;
    width: 97%;
    justify-content: center;
    align-items: center;
}
#top_restro_left_btn,#top_restro_right_btn{
    margin: auto 0;
    margin-top: auto;
    margin-bottom: auto;
}
.restaurants_cards{
    width: 80%;
    margin: 0 2rem;
}
#restaurant_card_container{
    width: 100%;
    height: 15rem;
    overflow: hidden;
    display: flex;
    margin-top: 1rem;
}
.restaurant_card{
    width: 13rem;
    height: 15rem;
    position: relative;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 1px 1px 1px 1px rgb(217, 214, 214);
    padding: 0 0 1rem 0;
    margin: 0 1rem;
}
.restaurant_card .rating{
    position: absolute;
    z-index: 2;
    background-color:forestgreen;
    color: white;
    margin: .5rem .5rem;
    border-radius: 3px;
    padding: .1rem;
}
.restro_img{
    width: 13rem;
    height: 9rem;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.restaurant_name{
    margin: 1rem 0 0.5rem 0;
}
.restaurant_card p{
    font-size: small;
}

@media (max-width:950px) {
    #restaurant_card_container{
        width: 80%;
    }
}