#restaurants{
    margin: 3rem 1rem ;
}
.restaurants_top{
    display: flex;
}
#restaurant_card_container{
    width: 100%;
    overflow: hidden;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}
.restaurant_card{
    width: 13rem;
    height: 15rem;
    position: relative;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 1px 1px 1px 1px rgb(217, 214, 214);
    padding: 0 0 1rem 0;
    margin: .5rem 1rem;
}
.restaurant_card .rating{
    position: absolute;
    z-index: 2;
    background-color:forestgreen;
    color: white;
    margin: .5rem .5rem;
    border-radius: 3px;
    padding: .1rem;
}
.restro_img{
    width: 13rem;
    height: 9rem;
    border-radius: 1rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.restaurant_name{
    margin: 1rem 0 0.5rem 0;
}
.restaurant_card p{
    font-size: small;
}

@media (max-width:950px) {
    #restaurant_card_container{
        width: 90%;
        flex-direction: column;
    }
}